{% extends 'base_auth.html'%}
{% load static %}
{% block seo_block %}
    <title>Login | ZOZO Berlin</title>
    <meta name="description" content="Login to your Zozo Berlin account to manage your bookings and explore exclusive apartments for rent in Berlin's Prenzlauer Berg." />
    <meta name="keywords" content="Berlin apartments, furnished rentals Berlin, short-term rentals, long-term accommodation Berlin, vacation rentals Berlin, ZOZO Berlin, apartment booking Berlin">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-lg-6 col-md-12 left-box align-self-center">
                <nav> 
                    <a class="navbar-brand fw-bold" href="{% url 'main_page' %}">ZOZO</a>
                </nav>
                <div class="form-container">
                    <div class="text-center">
                        <h2 class="fw-bold">Log out </h2>
                        <p >Are you sure you want to sign out?</p>    
                    </div>
                        <a class="btn btn-main" href="{% url 'logout'%}">Log out</a>
                </div>
            </div>
            <div class="image-container col-6">
                <img src="{% static 'images/main_apartment.png' %}" alt="Apartment">
            </div>
        </div>
        
    </div>
{% endblock %}