{% extends 'base_auth.html'%}
{% load static %}
{% block seo_block %}
    <title>Change Password | ZOZO Berlin</title>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-lg-6 col-md-12 left-box align-self-center">
                <nav> 
                    <a class="navbar-brand fw-bold" href="{% url 'main_page' %}">ZOZO</a>
                </nav>
                <div class="form-container">
                    <div class="text-center">
                        <h2 class="fw-bold">Set Password </h2>
                        <form method="post" action="{% url 'account_set_password' %}">
                            {% csrf_token %}
                            {{ redirect_field }}
                            {{ form.as_p }}
                            <div class="actions">
                                <button type="submit" name="action">Set Password</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
            <div class="image-container col-6">
                <img src="{% static 'images/main_apartment.png' %}" alt="Apartment">
            </div>
        </div>
        
    </div>
{% endblock %}