{% extends 'base.html' %}
{% load static %}

{% block seo_block %}
    <title>ZOZO Berlin | Terms and Conditions</title>
    <meta name="description" content="Discover premium apartment rentals in Berlin with ZOZO Berlin. We offer 3 fully-furnished apartments perfect for short and long stays. Book your ideal accommodation in Berlin today!">
    <meta name="keywords" content="Berlin apartments, furnished rentals Berlin, short-term rentals, long-term accommodation Berlin, vacation rentals Berlin, ZOZO Berlin, apartment booking Berlin">
{% endblock %}

{% block content %}
<div class="faq-section py-5">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main_page'%}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Terms</li>
            </ol>
        </nav>
        <div class="section-title">
            <h2 class="main-title"></h2>
            <div class="text">
                <h2>Terms and Conditions</h2>
            </div>
        </div>            
        
    </div>
</div>
<div class="faq-section py-5">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-4">
                <div class="section-title">
                    <h2 class="main-title"></h2>
                    <div class="text" style="width:100%">
                        <p>Terms and Conditions</p>
                    </div>
                </div>            
            </div>
            <div class="col-8">
                <div class="accordion" id="faqAccordion">
                    <h4 class='title-imprint'>1. Definitions</h4>
                    <ul class="text">
                        <li><strong>Owner:</strong> Refers to the individual who owns the residential apartments.</li>
                        <li><strong>Tenant:</strong> The person making a reservation and renting the apartments.</li>
                        <li><strong>Website:</strong> Refers to the website providing the apartment rental service.</li>
                    </ul>
                
                    <h4 class='title-imprint'>2. Service Description</h4>
                    <p class="text">The website offers the ability for tenants to rent three private residential apartments according to availability and specifications provided on the apartment pages. All apartments are owned by the owner, and reservation management and communication are handled through the website.</p>
                
                    <h4 class='title-imprint'>3. Booking Terms</h4>
                    <ul class="text">
                        <li>Bookings can only be made through the website.</li>
                        <li>Tenants must be at least 18 years old.</li>
                        <li>A reservation is confirmed after paying 30% of the total amount or as agreed upon.</li>
                        <li>In case of cancellation, the site's cancellation policy applies.</li>
                    </ul>
                
                    <h4 class='title-imprint'>4. Website Use</h4>
                    <ul class="text">
                        <li>The website must not be used for any illegal or inappropriate purposes that violate these terms.</li>
                        <li>It is prohibited to copy or republish content without written permission from the owner.</li>
                        <li>The owner reserves the right to cancel or suspend any user account if these terms are violated.</li>
                    </ul>
                
                    <h4 class='title-imprint'>5. Payment Policy</h4>
                    <ul class="text">
                        <li>All payments are processed electronically through the available methods on the website.</li>
                        <li>The amount paid is considered part of the total rental cost and is not considered a full payment until the reservation is confirmed.</li>
                    </ul>
                
                    <h4 class='title-imprint'>6. Cancellation and Refund Policy</h4>
                    <ul class="text">
                        <li>Tenants have the right to cancel their booking up to 7 days before the check-in date and receive 70% of the paid amount back.</li>
                        <li>If cancellation occurs within less than 7 days, no amount will be refunded.</li>
                        <li>Any cancellation due to emergencies is subject to the owner’s discretion.</li>
                    </ul>
                
                    <h4 class='title-imprint'>7. Liability Limitations</h4>
                    <ul class="text">
                        <li>The owner is not liable for any damages resulting from the use of the website or inability to use it.</li>
                        <li>If any issue occurs with the rented apartment, tenants must contact the owner immediately for a prompt resolution.</li>
                    </ul>
                
                    <h4 class='title-imprint'>8. Changes to the Terms</h4>
                    <p class="text">The owner reserves the right to modify or update these terms at any time. It is recommended to review this page regularly.</p>
                
                    <h4 class='title-imprint'>9. Contact Us</h4>
                    <p class="text">If you have any questions regarding these Terms of Use, please contact us via:</p>
                    <ul class="text">
                        <li><strong>Email:</strong>+972592693703 </li>
                        <li><strong>Phone Number:</strong> berlin@zozoberlin.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-section py-5">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-4">
                <div class="section-title">
                    <h2 class="main-title"></h2>
                    <div class="text" style="width:100%">
                        <p>Legal Notice </p>
                    </div>
                </div>            
            </div>
            <div class="col-8">
                <div>
                    <p class="title-imprint">Information in accordance with <strong>Section 5</strong> of the German Telemedia Act (TMG):</p>
                    <p class="text">Joseph Abdel-Nour<br>Kastanienallee 101<br>10435 Berlin, Germany</p>
                </div>
      
                <div class="row justify-content-evenly">
                    <div class="col-6">
                        <p class="title-imprint">Contact</p>
                        <p>Phone: <a href="tel:+493020620304">+49 30 2062 0304</a><br>
                        Email: <a href="mailto:contact@goodshaus.com">contact@goodshaus.com</a></p>
                    </div>
                    <div class="col-6">
                        <p class="title-imprint">VAT Identification Number</p>
                        <p class="text">VAT ID in accordance with <strong>Section 27</strong> a of the German VAT Act:<br><span class="text-highlight">DE217624915</span></p>
                    </div>
                </div>
      
                <div class="">
                    <p class="title-imprint">Dispute Resolution</p>
                    <p class="text">The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a></p>
                    <p class="text">Our email address can be found above in the legal notice.</p>
                    <p class="text">We are neither willing nor obligated to participate in dispute resolution proceedings before a consumer arbitration board.</p>
                </div>
            </div>
      
            </div>
        </div>
    </div>
</div>
{% endblock %}