{% extends 'base_account.html' %}
{% load static %}

{% block seo_block %}
    <title>ZOZO Berlin | Confirm and Pay</title>
    <meta name="description" content="Discover premium apartment rentals in Berlin with ZOZO Berlin. We offer 3 fully-furnished apartments perfect for short and long stays. Book your ideal accommodation in Berlin today!">
    <meta name="keywords" content="Berlin apartments, furnished rentals Berlin, short-term rentals, long-term accommodation Berlin, vacation rentals Berlin, ZOZO Berlin, apartment booking Berlin">

    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/airbnb.css">

{% endblock %}

{% block content %}

    <div class="container my-4 booking_details" >
        <div class="reservation-box">
            <h3 style="font-size:40px; font-weight:400;">
                Confirm and pay                
            </h3>
    
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="reservation-details">
                        <div class="reservation-details-title">Booking Details</div>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="detail-title">Check-in</span>
                            <span class="detail-value">{{object.start_date}}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="detail-title">Check-out</span>
                            <span class="detail-value">{{object.end_date}}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="detail-title">Guests</span>
                            <span class="detail-value">{{object.num_guest}}</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="detail-title">Nights & Price</span>
                            <span class="detail-value">{{object.num_night}} nights X {{object.apartment.price_per_night}} </span>
                        </div>
                        <div class="d-flex justify-content-between mb-2 amount">
                            <span class="detail-title">Total</span>
                            <span class="detail-value">{{object.total_price}}</span>
                        </div>

                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="payment-summary">
                        <div class="payment-summary-title">Choose how to pay</div>

                        <div class="payment-option">
                            <label class="d-flex align-items-center">
                                <input type="radio" name="payment" value="full">
                                <span class="custom-radio"></span>
                                <div>
                                    <div class="price">Pay in Full</div>
                                    <div class="details"> Secure your booking by paying the total amount now.</div>
                                </div>
                            </label>
                        </div>
                        <div class="payment-option active">
                            <label class="d-flex align-items-center">
                                <input type="radio" name="payment" value="part" checked>
                                <span class="custom-radio"></span>
                                <div>
                                    <div class="price">Pay 30% Deposit</div>
                                    <div class="details">Pay 30% now via Stripe; the remaining 70% is due 30 days before arrival</div>
                                </div>
                            </label>
                        </div>
                        <a id="continueBtn" class="btn btn-main w-100" href="{% url 'payment_form' object.id %}">Continue</a>
                        <hr>
                        <div class="payment-option">
                            <label class="d-flex align-items-center">
                                <div>
                                    <div class="price">Awaiting Approval</div>
                                    <div class="details">Submit your request for manager approval. You’ll receive a response within 24 hours. </div>
                                </div>
                            </label>
                        </div>
                        <a id="approvalBtn" class="btn btn-white w-100" href="{% url 'update_booking_status' %}">Request Manager Approval</a>

                
                        {% comment %} <div class="d-flex justify-content-between mb-2 amount">
                            <span class="detail-title">Aesthetics:</span>
                            <span class="detail-value">$25</span>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
    
            <div class="action-buttons d-flex  justify-content-end mb-3">
                
                {% comment %}  {% endcomment %}
            </div>
    
            <div class="information-text">
                <p>
                    By clicking "Pay 30% Deposit", you will be redirected to Stripe to complete the payment. The remaining 70% will be due 30 days before your arrival.
                </p>
                <p>
                    By clicking "Request Approval", you will send a request to the site manager for approval. You will be notified of the decision within 24 hours.
                </p>
            </div>
        </div>
    


    </div>
{% endblock %}
{% block js_code %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/en.js"></script>
<script>
    document.getElementById("approvalBtn").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default action (navigation)

        Swal.fire({
            title: "Request Sent",
            text: "Your booking request has been sent to the site manager for approval",
            icon: "success",
            confirmButtonText: "View Details Booking Request",
            customClass: {
                confirmButton: 'btn btn-main'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url "update_booking_status" %}', // Django URL name for the view
                    type: 'POST',
                    data: {
                        'reservation_id': {{object.id}},
                        'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
                    },
                    success: function(response) {
                        window.location.href = "{% url 'booking_details' object.id %}"; // Redirect to dashboard after success
                    },
                    error: function(xhr, status, error) {
                        console.error('AJAX request failed:', status, error);
                    }
                });
            }
        });
    });
</script>
<script>
    const paymentOptions = document.querySelectorAll('.payment-option');
    paymentOptions.forEach(option => {
        option.addEventListener('click', function() {
            paymentOptions.forEach(opt => opt.classList.remove('active'));
            this.classList.add('active');
            this.querySelector('input').checked = true;
        });
    });
</script>
{% endblock %}