{% extends 'base_auth.html'%}
{% load static %}
{% block seo_block %}
    <title>ZOZO Berlin | Login</title>
    <meta name="description" content="Discover premium apartment rentals in Berlin with ZOZO Berlin. We offer 3 fully-furnished apartments perfect for short and long stays. Book your ideal accommodation in Berlin today!">
    <meta name="keywords" content="Berlin apartments, furnished rentals Berlin, short-term rentals, long-term accommodation Berlin, vacation rentals Berlin, ZOZO Berlin, apartment booking Berlin">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-lg-6 col-md-12 left-box align-self-center">
                <nav> 
                    <a class="navbar-brand fw-bold" href="{% url 'main_page' %}">ZOZO</a>
                </nav>
                <div class="form-container">
                    <div class="text-center">
                        <h2 class="fw-bold">Change Password</h2>
                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            <div>
                              Done Chanage Password in Success
                            </div>
                          </div>

                        </div>
                </div>
            </div>
            <div class="image-container col-6">
                <img src="{% static 'images/main_apartment.png' %}" alt="Apartment">
            </div>
        </div>
        
    </div>
{% endblock %}